.main-content {
    display: flex;
    flex-direction: row;
}

.main-content__item {
    height: auto;
    width: 5rem;
    margin: .1rem;
    display: block;
    background-color: #e0dede;
    border-radius: .2rem;
    text-align: center;
    padding: .8rem 0;
}

.main-content__state {
    height: auto;
    width: 10rem;
}